<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel dui vel eros tempus dignissim. Suspendisse viverra mauris ut turpis efficitur, quis congue urna sagittis. Integer in leo augue.">
    <meta property="og:title" content="Home | Hauwa Lawal" >
    <meta property="og:url" content="https://glacial-beach-73287.herokuapp.com/">
    <meta property="og:image" content="http://d3sui4ciodo0wv.cloudfront.net/fb36e6c02edd817376d88344f39d4d7a.jpg" >
    <meta property="og:type" content="website">
    <meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel dui vel eros tempus dignissim. Suspendisse viverra mauris ut turpis efficitur, quis congue urna sagittis. Integer in leo augue.">
    <!-- Twitter Card data -->
	<meta name="twitter:site" content="@publisher_handle">
	<meta name="twitter:title" content="Home | Hauwa Lawal">
	<meta name="twitter:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel dui vel eros tempus dignissim. Suspendisse viverra mauris ut turpis efficitur, quis congue urna sagittis. Integer in leo augue.">
	<meta name="twitter:creator" content="@author_handle">
	<!-- Twitter summary card with large image must be at least 280x150px -->
	<meta name="twitter:image:src" content="http://d3sui4ciodo0wv.cloudfront.net/fb36e6c02edd817376d88344f39d4d7a.jpg">
	<link rel="canonical" href="https://glacial-beach-73287.herokuapp.com/">
	<title>Home | Hauwa Lawal</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="menu-toggler">
			<div class="bar half start"></div>
			<div class="bar"></div>
			<div class="bar half end"></div>
		</div>
		<nav class="top-nav">
			<ul class="nav-list">
				<li>
					<a href="#" class="nav-link">Home</a>
				</li>
				<li>
					<a href="#about" class="nav-link">About</a>
				</li>
				<li>
					<a href="#services" class="nav-link">Services</a>
				</li>
				<li>
					<a href="#skills" class="nav-link">Skills</a>
				</li>
				<li>
					<a href="#testimonials" class="nav-link">Testimonials</a>
				</li>
				<li>
					<a href="/blogs" class="nav-link blog-link">Blog</a>
				</li>
				<li>
					<a href="#contact" class="nav-link">Contact</a>
				</li>
			</ul>
		</nav>
		<div class="landing-text">
			<h1>Hauwa Lawal</h1>
			<h6>Professional Copywriter</h6>
		</div>
	</header>
	<!-- start about -->
	<section class="about-me" id="about">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h1>About Me</h1>
					<p class="small"> information about me </p>
				</div>
			</div>
			<div class="row">
				<div class="about-content">
					<div class="row">
						<div class="img" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100">
							<img src="http://d3sui4ciodo0wv.cloudfront.net/fb36e6c02edd817376d88344f39d4d7a.jpg" alt="hauwa lawal">
						</div>
						<div class="text" data-aos="fade-left" data-aos-duration="800" data-aos-delay="200">
							<h4>I'm Hauwa Lawal</h4>
							<h6>A lead <span>Copywriter</span> based in <span>Nigeria</span></h6>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel dui vel eros tempus dignissim. Suspendisse viverra mauris ut turpis efficitur, quis congue urna sagittis. Integer in leo augue.</p>
							<div class="info">
								<div class="list">
									<label>Birthday:</label>
									<p>6th June 1994</p>
								</div>
								<div class="list">
									<label>Email:</label>
									<p>hauwalawal@gmail.com</p>
								</div>
								<div class="list">
									<label>Age:</label>
									<p>25 Yr</p>
								</div>
								<div class="list">
									<label>Phone:</label>
									<p>+234 708 174 1484</p>
								</div>
								<div class="list">
									<label>Residence:</label>
									<p>Nigeria</p>
								</div>
								<div class="list">
									<label>Skype</label>
									<p>skype.404</p>
								</div>
								<div class="list">
									<label>Address:</label>
									<p>8 Modupe Ogunye Lagos</p>
								</div>
								<div class="list">
									<label>Freelance:</label>
									<p>Available</p>
								</div>
							</div>
							<!-- social links -->
							<div class="social-links">
								<a href=""><i class="fab fa-facebook-f"></i></a>
								<a href=""><i class="fab fa-twitter"></i></a>
								<a href=""><i class="fab fa-instagram"></i></a>
								<a href=""><i class="fab fa-linkedin-in"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end about  -->
	<!-- services -->
	<section class="service" id="services">
		<div class="container">
			<div class="row">
				<div class="section-title text-center">
					<h1>Our Services</h1>
				</div>
			</div>
			<div class="row">
				<div class="service-content">
					<div class="box" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="100">
						<div class="icon">
							<i class="fas fa-laptop"></i>
						</div>
						<h5>Unique Design</h5>
						<p>Integer mi nisl, sodales at dui ut, volutpat semper eros. Duis vitae pulvinar felis, vitae gravida dolor. Cras a magna at justo eleifend gravida eu sit amet libero. Curabitur ut hendrerit augue. Curabitur a metus et augue</p>
					</div>
					<div class="box" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="200">
						<div class="icon">
							<i class="fas fa-columns"></i>
						</div>
						<h5>Different Layout</h5>
						<p>Integer mi nisl, sodales at dui ut, volutpat semper eros. Duis vitae pulvinar felis, vitae gravida dolor. Cras a magna at justo eleifend gravida eu sit amet libero. Curabitur ut hendrerit augue. Curabitur a metus et augue</p>
					</div>
					<div class="box" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="300">
						<div class="icon">
							<i class="fas fa-code"></i>
						</div>
						<h5>Make it simple</h5>
						<p>Integer mi nisl, sodales at dui ut, volutpat semper eros. Duis vitae pulvinar felis, vitae gravida dolor. Cras a magna at justo eleifend gravida eu sit amet libero. Curabitur ut hendrerit augue. Curabitur a metus et augue</p>
					</div>
					<div class="box" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="350">
						<div class="icon">
							<i class="fas fa-mobile-alt"></i>
						</div>
						<h5>Responsiveness</h5>
						<p>Integer mi nisl, sodales at dui ut, volutpat semper eros. Duis vitae pulvinar felis, vitae gravida dolor. Cras a magna at justo eleifend gravida eu sit amet libero. Curabitur ut hendrerit augue. Curabitur a metus et augue</p>
					</div>
					<div class="box" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="400">
						<div class="icon">
							<i class="fas fa-laptop"></i>
						</div>
						<h5>Testing for perfection</h5>
						<p>Integer mi nisl, sodales at dui ut, volutpat semper eros. Duis vitae pulvinar felis, vitae gravida dolor. Cras a magna at justo eleifend gravida eu sit amet libero. Curabitur ut hendrerit augue. Curabitur a metus et augue</p>
					</div>
					<div class="box" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="450">
						<div class="icon">
							<i class="fas fa-cog"></i>
						</div>
						<h5>Advanced options</h5>
						<p>Integer mi nisl, sodales at dui ut, volutpat semper eros. Duis vitae pulvinar felis, vitae gravida dolor. Cras a magna at justo eleifend gravida eu sit amet libero. Curabitur ut hendrerit augue. Curabitur a metus et augue</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end services -->

	<!-- skills -->
	<div class="skills" id="skills">
		<div class="container">
			<div class="row align-items-center">
				<div class="skills-content">
					<div class="row">
						<div class="section-title">
							<h1>Professional Skills</h1>
							<p>Ut nec volutpat velit, ac posuere lorem. Aenean a varius ipsum, sit amet convallis tellus. Fusce lacinia metus nec porta sodales. Duis in aliquet neque. Quisque placerat sapien ut lectus finibus ultrices</p>
						</div>
					</div>
					<div class="row">
						<div class="skill-box">
							<h6>placerat</h6>
							<div class="skill-bar">
								<div class="skill-bar-in ">
									<span><span class="counter" data-count="92">0</span>%</span>
								</div>
							</div>
						</div>
						<div class="skill-box">
							<h6>Quisque</h6>
							<div class="skill-bar">
								<div class="skill-bar-in ">
									<span><span class="counter" data-count="52">0</span>%</span>
								</div>
							</div>
						</div>
						<div class="skill-box">
							<h6>Duis</h6>
							<div class="skill-bar">
								<div class="skill-bar-in ">
									<span><span class="counter" data-count="62">0</span>%</span>
								</div>
							</div>
						</div>
						<div class="skill-box">
							<h6>ipsum</h6>
							<div class="skill-bar">
								<div class="skill-bar-in ">
									<span><span class="counter" data-count="42">0</span>%</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="img">
					<img src="http://d3sui4ciodo0wv.cloudfront.net/1f91ebae56cb310a6c05f22458db0c88.jpg" alt="hauwa lawal skills">
				</div>
			</div>
		</div>
	</div>

	<!-- end skills -->
	<!-- message -->
	<div class="message-text">
		<div class="container">
			<div class="row">
				<div class="text">
					<h2>I'm extremely passionate about writing and content creation in all its forms.</h2> 
				</div>
				<div class="button">
					<a href="#contact">Get In Touch</a>
				</div>
			</div>
		</div>
	</div>


	<!-- end message  -->
	<!-- testimonials -->
	<section class="testimonials" id="testimonials">
		<div class="container">
			<div class="row">
				<div class="section-title text-center">
					<h1>Testimonials</h1>
				</div>
			</div>
			<div class="row">
				<div class="testimonials-content">
					<div class="testi-slider">
						<div class="slide">
							<div class="img">
								<img src="http://d3sui4ciodo0wv.cloudfront.net/3160e0502059a81f606b0a0f9e8760a2.jpg" alt="hauwa lawal reviews">
							</div>
							<div class="text">
								<p>Nullam vulputate tortor luctus turpis accumsan volutpat. Ut mi nibh, porta quis sollicitudin eu, lobortis eu dolor. Integer bibendum mi eu enim fermentum maximus.</p>
								<h6>Halimah Dabana</h6>
								<p>Co-founder Women4women</p>
							</div>
						</div>
						<div class="slide">
							<div class="img">
								<img src="http://d3sui4ciodo0wv.cloudfront.net/c29dd82b1b37e58511522893e70c0071.jpg" alt="hauwa lawal reviews">
							</div>
							<div class="text">
								<p>Nullam vulputate tortor luctus turpis accumsan volutpat. Ut mi nibh, porta quis sollicitudin eu, lobortis eu dolor. Integer bibendum mi eu enim fermentum maximus.</p>
								<h6>Nancy Drew</h6>
								<p>Creative designer</p>
							</div>
						</div>
						<div class="slide">
							<div class="img">
								<img src="http://d3sui4ciodo0wv.cloudfront.net/3c553f113a8d90845aab30372a59d886.jpg" alt="hauwa lawal reviews">
							</div>
							<div class="text">
								<p>Nullam vulputate tortor luctus turpis accumsan volutpat. Ut mi nibh, porta quis sollicitudin eu, lobortis eu dolor. Integer bibendum mi eu enim fermentum maximus.</p>
								<h6>Muhammad Ademola</h6>
								<p>Co-founder Finhub</p>
							</div>
						</div>
						<div class="slide">
							<div class="img">
								<img src="http://d3sui4ciodo0wv.cloudfront.net/2b84c3eea19b824fe10678fa45f0f7f8.jpg" alt="hauwa lawal reviews">
							</div>
							<div class="text">
								<p>Nullam vulputate tortor luctus turpis accumsan volutpat. Ut mi nibh, porta quis sollicitudin eu, lobortis eu dolor. Integer bibendum mi eu enim fermentum maximus.</p>
								<h6>Aimee Adedigba</h6>
								<p>Business Analyst</p>
							</div>
						</div>
					</div>
					<!-- slide controls -->
					<div class="slide-controls">
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end testimonials -->
	<!-- blogs -->
	<section class="blogs" id="blogs">
		<div class="container">
			<div class="row">
				<div class="section-title text-center">
					<h1>Latest Blogs</h1>
				</div>
			</div>
			<div class="row">
				<div class="blogs-content">
					<% for (var i = blogs.length - 1; i >= blogs.length - 2; i--) { %>
						<div class="box" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="100">
							<div class="img">
								<a href="/blogs/<%= blogs[i]._id %>"><img src="<%= blogs[i].image%>" alt="<%= blogs[i].title %>"></a>
							</div>
							<div class="blogs-text">
								<div class="info">
									<span><%= blogs[i].created.toDateString() %></span> <span><%= blogs[i].category %></span>
								</div>
								<h3><%= blogs[i].title %></h3>
								<p><%= blogs[i].subtitle %></p>
								<a href="/blogs/<%= blogs[i]._id %>">Read More</a>
							</div>
						</div>
					<% } %>
					
					
					<div class="box" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="100">
						<div class="img">
							<img src="http://d3sui4ciodo0wv.cloudfront.net/1124ce8d24082cbd662b390faf371228%20%281%29.jpg" alt="blogs">
						</div>
						<div class="blogs-text">
							<div class="info">
								<span>27 Mar 2019</span> <span>Design</span>
							</div>
							<h3>Make your Marketing Website</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel dui vel eros tempus dignissim...</p>
							<a href="">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="button">
					<a href="/blogs">Read more blog posts  <i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
		</div>
	</section>
	<!-- end blogs -->
	<!-- contact us -->
	<section class="contact-us" id="contact">
		<div class="container">
			<div class="row">
				<div class="section-title text-center">
					<h1>Get in touch</h1>
				</div>
			</div>
			<div class="row">
				<form action="/message" method="POST" class="contact-form">
					<div class="row">
						<div class="text">
							<h2>Drop us a line</h2>
							<p>We are here to answer any question you may have</p>
						</div>
					</div>
					<div class="row space-between">
						<div class="col-6">
							<input type="text" class="form-control" name="name" placeholder="Name" required>
						</div>
						<div class="col-6">
							<input type="text" class="form-control" name="email" placeholder="Email" required>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<textarea class="form-control" name="text" placeholder="Comment" required></textarea>
						</div>
					</div>
					<div class="row">
						<div class="button text-right">
							<input type="submit" name="submit" value="Get in touch">
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- end contact us -->
	<!-- footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="logo">
					<a href="/">
						Hauwa Lawal
					</a>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
					<a href=""><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->
	<!-- copyright -->
	<section class="copyright">
		<div class="container">
			<p>&copy; 2020 copyright all right reserved | designed by <a href="">Danfo creative studios</a></p>
		</div>
	</section>


	<!-- end copyright -->


<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script type="text/javascript" src="/js/landing.js"></script>
</body>
</html>