<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="robots" content="none">
		<title>Message | Hauwa Lawal</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<!-- <script src="https://kit.fontawesome.com/578088c2b0.js" crossorigin="anonymous"></script> -->
		<script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/message.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Satisfy&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="menu-toggler">
				<div class="bar half start"></div>
				<div class="bar"></div>
				<div class="bar half end"></div>
			</div>
			<nav class="top-nav">
				<ul class="nav-list">
					<li>
						<a href="/" class="nav-link link">Home</a>
					</li>
					<li>
						<a href="/#about" class="nav-link">About</a>
					</li>
					<li>
						<a href="/#services" class="nav-link">Services</a>
					</li>
					<li>
						<a href="/#skills" class="nav-link">Skills</a>
					</li>
					<li>
						<a href="/#testimonials" class="nav-link">Testimonials</a>
					</li>
					<li>
						<a href="/blogs" class="nav-link link">Blog</a>
					</li>
					<li>
						<a href="/#contact" class="nav-link">Contact</a>
					</li>
				</ul>
			</nav>
		</header>
		<!-- messages -->
		<section class="messages">
			<div class="container">
				<div class="row">
					<div class="section-title">
						<h1>Messages</h1>
					</div>
				</div>
				<div class="row">
					<div class="messages-content">
						<% for (var i = messages.length - 1; i >= 0; i--) { %>
							<div class="box" >
								<div class="messages-text">
									<div class="info">
										<span><%= messages[i].created.toDateString() %></span> <span><%= messages[i].email %></span>
									</div>
									<h3><%= messages[i].name %></h3>
									<p><%= messages[i].text %></p>
									<form class="" action="/message/<%= messages[i]._id %>?_method=DELETE"  method="POST">
										<button >Delete</button>
									</form>
								</div>
							</div>
						<% } %>
					</div>
				</div>
			</div>
		</section>
		<!-- end messages -->
	    
	    <!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="logo">
						Hauwa Lawal
					</div>
					<div class="social">
						<a href=""><i class="fab fa-facebook-f"></i></a>
						<a href=""><i class="fab fa-twitter"></i></a>
						<a href=""><i class="fab fa-instagram"></i></a>
						<a href=""><i class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->
		<!-- copyright -->
		<section class="copyright">
			<div class="container">
				<p>&copy; 2020 copyright all right reserved | designed by <a href="">Danfo creative studios</a></p>
			</div>
		</section>
		<!-- end copyright -->
	

		
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/js/message.js"></script>
	<body>
<html>